* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_2 {
  width: 100%;
  height: 1080px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_3 {
  width: 100%;
  height: 1080px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_4 {
  width: 100%;
  height: 872px;
  background: url("../images/v1_4.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 135px;
  overflow: hidden;
}
.v1_5 {
  width: 100%;
  height: 780px;
  background: url("../images/v1_5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_6 {
  width: 100%;
  height: 42px;
  background: url("../images/v1_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 5px;
  overflow: hidden;
}
.v1_7 {
  width: 100%;
  height: 42px;
  background: url("../images/v1_7.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_8 {
  width: 364px;
  height: 42px;
  background: url("../images/v1_8.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  overflow: hidden;
}
.v1_9 {
  width: 356px;
  height: 34px;
  background: url("../images/v1_9.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 4px;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
  overflow: hidden;
}
.v1_10 {
  width: 102px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 5px;
  left: 11px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v1_11 {
  width: 25px;
  height: 25px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 328px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v1_12 {
  width: 19px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3px;
  left: 3px;
  font-family: Material Icons;
  font-weight: Regular;
  font-size: 19px;
  opacity: 1;
  text-align: left;
}
.v1_13 {
  width: 752px;
  height: 42px;
  background: rgba(255,255,255,0.15000000596046448);
  padding: 4px 4px;
  margin: 3px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 371px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  overflow: hidden;
}
.v1_14 {
  width: 369px;
  height: 34px;
  background: url("../images/v1_14.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 4px;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
  overflow: hidden;
}
.v1_15 {
  width: 73px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 5px;
  left: 11px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v1_16 {
  width: 84px;
  height: 26px;
  background: rgba(223,185,33,1);
  padding: 3px 19px;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 282px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v1_17 {
  width: 46px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3px;
  left: 19px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v1_18 {
  width: 372px;
  height: 34px;
  background: url("../images/v1_18.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 4px 11px;
  margin: 138px;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 377px;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
  overflow: hidden;
}
.v1_19 {
  width: 83px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 7px;
  left: 11px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v1_20 {
  width: 136px;
  height: 26px;
  background: rgba(197,68,68,1);
  padding: 3px 20px;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 232px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v1_21 {
  width: 97px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 3px;
  left: 20px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v1_22 {
  width: 132px;
  height: 42px;
  background: url("../images/v1_22.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 2px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1472px;
  overflow: hidden;
}
.v1_23 {
  width: 42px;
  height: 42px;
  background: url("../images/v1_23.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 2px;
  border-top-left-radius: 21px;
  border-top-right-radius: 21px;
  border-bottom-left-radius: 21px;
  border-bottom-right-radius: 21px;
  overflow: hidden;
}
.v1_24 {
  width: 9px;
  height: 16px;
  background: url("../images/v1_24.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 29px;
  left: 16px;
  overflow: hidden;
}
.v1_25 {
  width: 7px;
  height: 14px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 0px;
}
.v1_26 {
  width: 42px;
  height: 42px;
  background: url("../images/v1_26.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 46px;
  border-top-left-radius: 21px;
  border-top-right-radius: 21px;
  border-bottom-left-radius: 21px;
  border-bottom-right-radius: 21px;
  overflow: hidden;
}
.v1_27 {
  width: 14px;
  height: 16px;
  background: url("../images/v1_27.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 29px;
  left: 13px;
  overflow: hidden;
}
.v1_28 {
  width: 14px;
  height: 11px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 0px;
}
.v1_29 {
  width: 42px;
  height: 42px;
  background: url("../images/v1_29.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 90px;
  border-top-left-radius: 21px;
  border-top-right-radius: 21px;
  border-bottom-left-radius: 21px;
  border-bottom-right-radius: 21px;
  overflow: hidden;
}
.v1_30 {
  width: 13px;
  height: 16px;
  background: url("../images/v1_30.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 29px;
  left: 14px;
  overflow: hidden;
}
.v1_31 {
  width: 13px;
  height: 13px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 0px;
}
.v1_32 {
  width: 100%;
  height: 409px;
  background: url("../images/v1_32.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 42px;
  left: 5px;
  overflow: hidden;
}
.v1_33 {
  width: 100%;
  height: 300px;
  background: rgba(131,146,146,1);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v1_34 {
  width: 799px;
  height: 168px;
  background: url("../images/v1_34.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 20px;
  opacity: 1;
  position: absolute;
  top: 102px;
  left: 30px;
  overflow: hidden;
}
.v1_35 {
  width: 799px;
  height: 106px;
  background: url("../images/v1_35.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_36 {
  width: 803px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 12px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 106px;
  opacity: 1;
  text-align: left;
}
.v1_37 {
  width: 526px;
  height: 42px;
  background: url("../images/v1_37.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 20px;
  opacity: 1;
  position: absolute;
  top: 126px;
  left: 0px;
  overflow: hidden;
}
.v1_38 {
  width: 340px;
  height: 42px;
  background: url("../images/v1_38.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v1_39 {
  width: 154px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 9px;
  left: 11px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v1_40 {
  width: 25px;
  height: 25px;
  background: rgba(255,255,255,0.20000000298023224);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 304px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v1_41 {
  width: 19px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 3px;
  left: 3px;
  font-family: Material Icons;
  font-weight: Regular;
  font-size: 19px;
  opacity: 1;
  text-align: left;
}
.v1_42 {
  width: 164px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 11px;
  left: 360px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_43 {
  width: 139px;
  height: 180px;
  background: url("../images/v1_43.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 155px 0px;
  opacity: 1;
  position: absolute;
  top: 84px;
  left: 1435px;
  overflow: hidden;
}
.v1_44 {
  width: 130px;
  height: 130px;
  background: url("../images/v1_44.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 9px;
  border-top-left-radius: 65px;
  border-top-right-radius: 65px;
  border-bottom-left-radius: 65px;
  border-bottom-right-radius: 65px;
  overflow: hidden;
}
.v1_45 {
  width: 139px;
  height: 25px;
  background: rgba(255,255,255,0.15000000596046448);
  padding: 3px 20px;
  opacity: 1;
  position: absolute;
  top: 155px;
  left: 0px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v1_46 {
  width: 99px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 3px;
  left: 20px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v1_47 {
  width: 100%;
  height: 67px;
  background: url("../images/v1_47.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 342px;
  left: 0px;
  overflow: hidden;
}
.v1_48 {
  width: 782px;
  height: 31px;
  background: url("../images/v1_48.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_49 {
  width: 149px;
  height: 25px;
  background: url("../images/v1_49.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 2px 6px;
  opacity: 0.4000000059604645;
  position: absolute;
  top: 3px;
  left: 3px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v1_50 {
  width: 136px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2px;
  left: 6px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v1_51 {
  width: 193px;
  height: 25px;
  background: url("../images/v1_51.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 2px 7px;
  opacity: 0.4000000059604645;
  position: absolute;
  top: 3px;
  left: 159px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v1_52 {
  width: 178px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2px;
  left: 7px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v1_53 {
  width: 119px;
  height: 25px;
  background: url("../images/v1_53.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 2px 6px;
  opacity: 0.4000000059604645;
  position: absolute;
  top: 3px;
  left: 358px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v1_54 {
  width: 106px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2px;
  left: 6px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v1_55 {
  width: 702px;
  height: 67px;
  background: url("../images/v1_55.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 822px;
  overflow: hidden;
}
.v1_56 {
  width: 670px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1_57 {
  width: 100%;
  height: 309px;
  background: url("../images/v1_57.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 5px 5px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 471px;
  left: 0px;
  overflow: hidden;
}
.v1_58 {
  width: 528px;
  height: 299px;
  background: url("../images/v1_58.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 5px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v1_59 {
  width: 467px;
  height: 25px;
  background: url("../images/v1_59.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 302px;
  opacity: 1;
  position: absolute;
  top: 31px;
  left: 30px;
  overflow: hidden;
}
.v1_60 {
  width: 139px;
  height: 25px;
  background: url("../images/v1_60.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 2px 6px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v1_61 {
  width: 126px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2px;
  left: 6px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v1_62 {
  width: 25px;
  height: 25px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 443px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v1_63 {
  width: 19px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3px;
  left: 3px;
  font-family: Material Icons;
  font-weight: Regular;
  font-size: 19px;
  opacity: 1;
  text-align: left;
}
.v1_64 {
  width: 467px;
  height: 80px;
  background: url("../images/v1_64.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 71px;
  left: 30px;
  overflow: hidden;
}
.v1_65 {
  width: 467px;
  height: 80px;
  background: url("../images/v1_65.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_66 {
  width: 467px;
  height: 25px;
  background: url("../images/v1_66.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 193px;
  opacity: 1;
  position: absolute;
  top: 165px;
  left: 30px;
  overflow: hidden;
}
.v1_67 {
  width: 164px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v1_68 {
  width: 100px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 358px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 22px;
  opacity: 1;
  text-align: right;
}
.v1_69 {
  width: 467px;
  height: 1px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 205px;
  left: 30px;
  overflow: hidden;
}
.v1_70 {
  width: 467px;
  height: 42px;
  background: url("../images/v1_70.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 226px;
  left: 31px;
  overflow: hidden;
}
.v1_71 {
  width: 410px;
  color: url("../images/v1_71.png");
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v1_72 {
  width: 528px;
  height: 225px;
  background: rgba(223,185,33,1);
  padding: 30px 30px;
  margin: 84px;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 544px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v1_73 {
  width: 467px;
  height: 25px;
  background: url("../images/v1_73.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 285px;
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 30px;
  overflow: hidden;
}
.v1_74 {
  width: 156px;
  height: 25px;
  background: url("../images/v1_74.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 2px 7px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v1_75 {
  width: 143px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2px;
  left: 7px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v1_76 {
  width: 25px;
  height: 25px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 442px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v1_77 {
  width: 19px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3px;
  left: 3px;
  font-family: Material Icons;
  font-weight: Regular;
  font-size: 19px;
  opacity: 1;
  text-align: left;
}
.v1_78 {
  width: 470px;
  height: 55px;
  background: url("../images/v1_78.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 107px;
  opacity: 1;
  position: absolute;
  top: 139px;
  left: 30px;
  overflow: hidden;
}
.v1_79 {
  width: 223px;
  height: 48px;
  background: url("../images/v1_79.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 0px;
  overflow: hidden;
}
.v1_80 {
  width: 125px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v1_81 {
  width: 139px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 331px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 68px;
  opacity: 1;
  text-align: right;
}
.v1_82 {
  width: 528px;
  height: 225px;
  background: rgba(154,130,194,1);
  padding: 30px 30px;
  margin: 36px;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 1081px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v1_83 {
  width: 467px;
  height: 25px;
  background: url("../images/v1_83.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 324px;
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 30px;
  overflow: hidden;
}
.v1_84 {
  width: 118px;
  height: 25px;
  background: url("../images/v1_84.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 2px 7px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v1_85 {
  width: 105px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2px;
  left: 7px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v1_86 {
  width: 25px;
  height: 25px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 442px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v1_87 {
  width: 19px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3px;
  left: 3px;
  font-family: Material Icons;
  font-weight: Regular;
  font-size: 19px;
  opacity: 1;
  text-align: left;
}
.v1_88 {
  width: 467px;
  height: 104px;
  background: url("../images/v1_88.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 19px;
  opacity: 1;
  position: absolute;
  top: 91px;
  left: 30px;
  overflow: hidden;
}
.v1_89 {
  width: 223px;
  height: 48px;
  background: url("../images/v1_89.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 55px;
  left: 0px;
  overflow: hidden;
}
.v1_90 {
  width: 138px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v1_91 {
  width: 223px;
  height: 104px;
  background: url("../images/v1_91.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 243px;
  overflow: hidden;
}
.v1_92 {
  width: 223px;
  height: 100px;
  background: url("../images/v1_92.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_93 {
  width: 33px;
  height: 9px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 91px;
  left: 2px;
  overflow: hidden;
}
.v1_94 {
  width: 33px;
  height: 14px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 86px;
  left: 39px;
  overflow: hidden;
}
.v1_95 {
  width: 33px;
  height: 23px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 77px;
  left: 76px;
  overflow: hidden;
}
.v1_96 {
  width: 33px;
  height: 45px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 55px;
  left: 113px;
  overflow: hidden;
}
.v1_97 {
  width: 33px;
  height: 65px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 35px;
  left: 151px;
  overflow: hidden;
}
.v1_98 {
  width: 33px;
  height: 93px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 188px;
  overflow: hidden;
}
.v1_99 {
  width: 223px;
  height: 1px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 103px;
  left: 0px;
  overflow: hidden;
}
.v1_100 {
  width: 100%;
  height: 92px;
  background: url("../images/v1_100.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 780px;
  left: 0px;
  overflow: hidden;
}
.v1_101 {
  width: 147px;
  height: 12px;
  background: rgba(255,255,255,0.10000000149011612);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1502px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v1_102 {
  width: 117px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2px;
  left: 15px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v1_103 {
  width: 100%;
  height: 2px;
  background: rgba(238,238,238,1);
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 0px;
  overflow: hidden;
}
.v1_104 {
  width: 100%;
  height: 13px;
  background: url("../images/v1_104.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 59px;
  left: 0px;
  overflow: hidden;
}
.v1_105 {
  width: 825px;
  height: 12px;
  background: url("../images/v1_105.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_106 {
  width: 13px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v1_107 {
  width: 181px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2px;
  left: 644px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v1_108 {
  width: 825px;
  height: 13px;
  background: url("../images/v1_108.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 825px;
  overflow: hidden;
}
.v1_109 {
  width: 167px;
  height: 12px;
  background: url("../images/v1_109.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 28px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 466px;
  overflow: hidden;
}
.v1_110 {
  width: 87px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v1_111 {
  width: 52px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 115px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v1_112 {
  width: 131px;
  height: 13px;
  background: url("../images/v1_112.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 693px;
  overflow: hidden;
}
.v1_113 {
  width: 44px;
  height: 7px;
  background: url("../images/v1_113.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 0px;
  overflow: hidden;
}
.v1_114 {
  width: 43px;
  height: 7px;
  background: url("../images/v1_114.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_115 {
  width: 43px;
  height: 7px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v1_116 {
  width: 82px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2px;
  left: 49px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v1_117 {
  width: 122px;
  height: 28px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1032px;
  left: 20px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14000000059604645);
  overflow: hidden;
}
.v1_118 {
  width: 98px;
  height: 18px;
  background: url("../images/v1_118.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 12px;
  overflow: hidden;
}
